
<nav class="tm-main-nav">
    <ul class="tm-main-nav-ul">
        <li class="tm-nav-item">
            <a href="https://speedbyte.github.io/#welcome" class="tm-nav-item-link">Welcome</a>
        </li>
        <li class="tm-nav-item">
            <a href="https://speedbyte.github.io/#about" class="tm-nav-item-link">About Me</a>
        </li>
        <li class="tm-nav-item">
            <a href="https://speedbyte.github.io/#jobs" class="tm-nav-item-link">Jobs</a>
        </li>
        <li class="tm-nav-item">
            <a href="https://speedbyte.github.io/https://speedbyte.github.io/#portfolio" class="tm-nav-item-link">Porfolio</a>
        </li>
        <li class="tm-nav-item">
            <a href="https://speedbyte.github.io/#blog" class="tm-nav-item-link">Blog</a>
        </li>
        <li class="tm-nav-item">
            <a href="https://speedbyte.github.io/#contact" class="tm-nav-item-link">Contact Me</a>
        </li>
    </ul>
</nav>