<nav class="tm-main-nav">
    <ul class="tm-main-nav-ul">
        <li class="tm-nav-item">
            <a href="#welcome" class="tm-nav-item-link">Welcome</a>
        </li>
        <li class="tm-nav-item">
            <a href="#about" class="tm-nav-item-link">About Me</a>
        </li>
        <li class="tm-nav-item">
            <a href="#jobs" class="tm-nav-item-link">Jobs</a>
        </li>
        <li class="tm-nav-item">
            <a href="#portfolio" class="tm-nav-item-link">Porfolio</a>
        </li>
        <li class="tm-nav-item">
            <a href="#blog" class="tm-nav-item-link">Blog</a>
        </li>
        <li class="tm-nav-item">
            <a href="#contact" class="tm-nav-item-link">Contact Me</a>
        </li>
    </ul>
</nav>